<a href="https://colab.research.google.com/github/batarg1nroman/Batargin-Roman/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Словари

1) Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке.

In [ ]:
def words_amount(line):
  dictionary={}
  for char in '.,!?;:"\'()':
    line.replace(char, ' ')
  line = line.replace(char, ' ')
  words=line.lower().split()
  for word in words:
    if word in dictionary:
      dictionary[word]+=1
    else:
      dictionary[word]=1
  return dictionary
line=input()
print(words_amount(line))

Ключ от двери в замке висит, А холодный ключ в лесу журчит. Есть ещё ключ скрипичный — соль, Им открыты нот широт простор!
{'ключ': 3, 'от': 1, 'двери': 1, 'в': 2, 'замке': 1, 'висит,': 1, 'а': 1, 'холодный': 1, 'лесу': 1, 'журчит.': 1, 'есть': 1, 'ещё': 1, 'скрипичный': 1, '—': 1, 'соль,': 1, 'им': 1, 'открыты': 1, 'нот': 1, 'широт': 1, 'простор!': 1}

2) Инвертирование словаря: Напишите функцию, которая принимает словарь и возвращает новый словарь, где ключи и значения поменяны местами. Если значения не уникальны, объедините ключи в список.

In [ ]:
def invert_dict(original_dict):
    inverted = {}
    for key, value in original_dict.items():
        if value in inverted:
            if isinstance(inverted[value], list):
                inverted[value].append(key)
            else:
                inverted[value] = [inverted[value], key]
        else:
            inverted[value] = key
    return inverted
original = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted = invert_dict(original)
print(inverted)

{1: ['a', 'c'], 2: 'b', 3: 'd'}

3) Слияние словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий все ключи из обоих словарей. Если ключи совпадают, значения должны быть суммированы.

In [ ]:
def merge_dicts(dict1, dict2):
    merged = {}

    for key, value in dict1.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value

    for key, value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value

    return merged
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

print(merge_dicts(dict1, dict2))

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

4) Фильтрация по значению: Напишите функцию, которая принимает словарь и пороговое значение, и возвращает новый словарь, содержащий только те пары ключ-значение, где значение больше порогового.

In [ ]:
def filter_dict_by_value(original_dict, threshold):
    return {key: value for key, value in original_dict.items() if value > threshold}

scores = {'Alice': 85, 'Bob': 72, 'Charlie': 90, 'David': 65}
passing_scores = filter_dict_by_value(scores, 75)
print(passing_scores)

{'Alice': 85, 'Charlie': 90}

5) Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре.

In [ ]:
def find_max_key(dictionary):
    max_value = None
    max_key = None

    for key, value in dictionary.items():
        if max_value is None or value > max_value:
            max_value = value
            max_key = key

    return max_key

prices = {'хлеб': 50, 'молоко': 80, 'яйца': 60}
most_expensive = find_max_key(prices)
print(most_expensive)

молоко

6) Минимальное значение: Напишите функцию, которая находит ключ с минимальным значением в словаре.

In [ ]:
def find_cheap_key(dictionary):
    min_value = None
    min_key = None

    for key, value in dictionary.items():
        if min_value is None or value < min_value:
            min_value = value
            min_key = key

    return min_key

prices = {'хлеб': 50, 'молоко': 80, 'яйца': 60}
most_cheap = find_cheap_key(prices)
print(most_cheap)

хлеб

7) Удаление ключей: Напишите функцию, которая принимает словарь и список ключей, и удаляет из словаря все указанные ключи.

In [ ]:
def remove_keys(dictionary, keys_to_remove):
    for key in keys_to_remove:
        dictionary.pop(key, None)
    return dictionary

my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
keys = ['a', 'c', 'x']

print(remove_keys(my_dict, keys))

{'b': 2, 'd': 4}

8) Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи — это длины, а значения — списки ключей соответствующей длины.

In [ ]:
def group_keys_by_length(dictionary):
    result = {}
    for key in dictionary.keys():
        length = len(key)
        if length not in result:
            result[length] = []
        result[length].append(key)
    return result
data = {'apple': 1, 'banana': 2, 'kiwi': 3, 'orange': 4, 'pear': 5}
grouped = group_keys_by_length(data)

print(grouped)

{5: ['apple'], 6: ['banana', 'orange'], 4: ['kiwi', 'pear']}

9) Поиск ключей по значению: Напишите функцию, которая принимает словарь и значение, и возвращает список всех ключей, связанных с этим значением.

In [ ]:
def find_keys_by_value(dictionary, target_value):
    return [key for key, value in dictionary.items() if value == target_value]
data = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
print(find_keys_by_value(data, 1))
print(find_keys_by_value(data, 4))

['a', 'c']
[]

10) Объединение значений: Напишите функцию, которая принимает два словаря и объединяет их значения в списки для каждого ключа.

In [ ]:
def dicts_union(dict1, dict2):
  result={}
  for key, value in dict1.items():
    result[key]=[]
    result[key].append(value)
  for key, value in dict2.items():
    if key in result:
      result[key].append(value)
    else:
      result[key]=[]
      result[key].append(value)
  return result
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 20, 'c': 30, 'd': 40}

merged = dicts_union(dict1, dict2)
print(merged)

{'a': [1], 'b': [2, 20], 'c': [3, 30], 'd': [40]}

Множества

11) Элементы, встречающиеся только в одном множестве: Напишите функцию, которая находит элементы, которые есть только в одном из двух множеств.

In [ ]:
def unique(set1, set2):
  result=set()
  t=True
  for el1 in set1:
    for el2 in set2:
      if el1==el2:
        t=False
        break
    if not t:
      t = True
    else:
       result.add(el1)
  return result
set1={"Tom", "Jerry", "Bob", "Santiago"}
set2={"Tom", "Jerry"}
uni=unique(set1, set2)
print(uni)

SyntaxError: invalid syntax (<ipython-input-39-3d88db4fb4c2>, line 9)

12) Общие элементы: Напишите функцию, которая находит общие элементы двух списков с помощью множеств.

In [ ]:
def same(list1, list2):
  result=set()
  t=False
  for el1 in list1:
    for el2 in list2:
      if el1==el2:
        t=True
    if t:
      t = False
      result.add(el1)
  return result
list1=["Tom", "Jerry", "Bob", "Santiago"]
list2=["Tom", "Jerry"]
s=same(list1, list2)
print(s)

{'Tom', 'Jerry'}

13) Уникальные элементы: Напишите функцию, которая находит элементы, которые есть только в одном из двух списков.

In [ ]:
def unique(list1, list2):
  result=[]
  t=True
  for i in list1:
    for j in list2:
      if i==j:
        t=False
        break
    if not t:
      t = True
    else:
       result.append(i)
  return result
list1=["Tom", "Jerry", "Bob", "Santiago"]
list2=["Tom", "Jerry"]
uni=unique(list1, list2)
print(uni)

['Bob', 'Santiago']

14) Проверка на пустоту: Напишите функцию, которая проверяет, является ли множество пустым.

In [ ]:
def is_empty(set1):
  return not set1
list1=["Tom", "Jerry", "Bob", "Santiago"]
list2=[]
print(is_empty(list1))
print(is_empty(list2))

False
True

15) Количество уникальных элементов: Напишите функцию, которая возвращает количество уникальных элементов в списке с помощью множества.

In [ ]:
def unique_el(list1):
  list2=set()
  for i in list1:
    list2.add(i)
  return list2
list1=["Tom", "Jerry", "Bob", "Jerry", "Santiago", "Bob"]
print(unique_el(list1))

{'Bob', 'Tom', 'Jerry', 'Santiago'}

16) Максимальный элемент: Напишите функцию, которая находит максимальный элемент в множестве.

In [ ]:
def max_el(set1):
  return max(set1)
set=(1,2,3,7,111,2)
print(max_el(set))

111

17) Минимальный элемент: Напишите функцию, которая находит минимальный элемент в множестве.

In [ ]:
def min_el(set1):
  return min(set1)
set=(1,2,3,7,111,2)
print(min_el(set))

1

18) Сортировка множества: Напишите функцию, которая преобразует множество в отсортированный список.

In [ ]:
def sorted_list(set1):
  list1=[]
  for i in set1:
    list1.append(i)
  list1.sort()
  return list1
set=(2,4,1,6,9,0,3)
print(sorted_list(set))

[0, 1, 2, 3, 4, 6, 9]

19) Частота элементов: Напишите функцию, которая подсчитывает частоту каждого элемента в списке с помощью множества.

In [ ]:
def frequency(list1):
  freq={}
  for i in list1:
    freq[i]=list1.count(i)
  return freq
list1=['a', 'b', 'a', 'b', 'c', 'c', 'd']
print(frequency(list1))

{'a': 2, 'b': 2, 'c': 2, 'd': 1}

20) Объединение нескольких множеств: Напишите функцию, которая принимает список множеств и возвращает их объединение.

In [ ]:
def sets_union(set1, set2):
  x= set1 | set2
  return x

set1={1, 2, 3, 4, 5}
set2={3, 4, 5, 6, 7}
print(sets_union(set1, set2))

{1, 2, 3, 4, 5, 6, 7}

Кортеж

20) Кортеж с повторяющимися элементами: Напишите функцию, которая создает кортеж, где каждый элемент повторяется заданное количество раз.

In [ ]:
def create_tuple(dict1):
  x=[]
  for key, value in dict1.items():
    for j in range(value):
      x.append(value)
  tuple1=tuple(x)
  return tuple1
dict1={'a': 3, 'b': 4, 'c': 3}
print(create_tuple(dict1))

(3, 3, 3, 4, 4, 4, 4, 3, 3, 3)

21) Вложенные кортежи: Напишите функцию, которая создает вложенный кортеж, где первый уровень — это буквы алфавита, а второй уровень — числа от 1 до 5.

In [ ]:
def create_super_tuple(letters, digits):
  x=[]
  for i in letters:
    x.append(((i), (digits)))
  tuple1=tuple(x)
  return tuple1
letters='abcdefghijklmnopqrstuvwxyz'
digits=tuple(range(1,6))
print(create_super_tuple(letters, digits))

(('a', (1, 2, 3, 4, 5)), ('b', (1, 2, 3, 4, 5)), ('c', (1, 2, 3, 4, 5)), ('d', (1, 2, 3, 4, 5)), ('e', (1, 2, 3, 4, 5)), ('f', (1, 2, 3, 4, 5)), ('g', (1, 2, 3, 4, 5)), ('h', (1, 2, 3, 4, 5)), ('i', (1, 2, 3, 4, 5)), ('j', (1, 2, 3, 4, 5)), ('k', (1, 2, 3, 4, 5)), ('l', (1, 2, 3, 4, 5)), ('m', (1, 2, 3, 4, 5)), ('n', (1, 2, 3, 4, 5)), ('o', (1, 2, 3, 4, 5)), ('p', (1, 2, 3, 4, 5)), ('q', (1, 2, 3, 4, 5)), ('r', (1, 2, 3, 4, 5)), ('s', (1, 2, 3, 4, 5)), ('t', (1, 2, 3, 4, 5)), ('u', (1, 2, 3, 4, 5)), ('v', (1, 2, 3, 4, 5)), ('w', (1, 2, 3, 4, 5)), ('x', (1, 2, 3, 4, 5)), ('y', (1, 2, 3, 4, 5)), ('z', (1, 2, 3, 4, 5)))

22) Развертывание вложенного кортежа: Напишите функцию, которая разворачивает вложенный кортеж в плоский кортеж.

In [ ]:
def create_flat_tuple(tuple1):
  flat=[]
  for i in tuple1:
    if isinstance(i, tuple):
      flat.extend(create_flat_tuple(i))
    else:
      flat.append(i)
  flat1=tuple(flat)
  return flat1
tuple1 = ((1, 2), (3, (4, 5)), 6)
print(create_flat_tuple(tuple1))

(1, 2, 3, 4, 5, 6)

23) Кортеж из двух списков: Напишите функцию, которая создает кортеж пар из двух списков одинаковой длины.

In [ ]:
def create_tuple(list1, list2):
  result=[]
  x=[]
  for i in range(len(list1)):
    result.append([list1[i], list2[i]])
  tuple1=tuple(result)
  return tuple1
list1=[1,2,3,4]
list2=[5,6,7,8]
print(create_tuple(list1, list2))

([1, 5], [2, 6], [3, 7], [4, 8])

24) Перевод кортежа в строку: Напишите функцию, которая преобразует кортеж строк в одну строку, объединяя их через пробел.

In [2]:
def union_str(tuple1):
  x=""
  for i in tuple1:
    x+=i+" "
  return x
tuple1=('Hello', ',', 'my', 'name', 'is', 'Roman')
print(union_str(tuple1))

Hello , my name is Roman

25) Перевод строки в кортеж чисел: Напишите функцию, которая преобразует строку чисел, разделенных запятыми, в кортеж чисел.

In [4]:
def create_tuple(str1):
  x=[]
  for i in str1:
    if i!=',':
      x.append(i)
  tuple1=tuple(x)
  return tuple1
str1='1,2,3,4,5'
print(create_tuple(str1))

('1', '2', '3', '4', '5')

26) Кортеж с четными числами: Напишите функцию, которая создает кортеж, содержащий только четные числа из заданного диапазона.

In [5]:
def create_tuple(list1):
  x=[]
  for i in list1:
    if i%2==0:
      x.append(i)
  tuple1=tuple(x)
  return tuple1
list1=range(1,7)
print(create_tuple(list1))

(2, 4, 6)

27) Кортеж с нечетными числами: Напишите функцию, которая создает кортеж, содержащий только нечетные числа из заданного диапазона.

In [6]:
def create_tuple(list1):
  x=[]
  for i in list1:
    if i%2!=0:
      x.append(i)
  tuple1=tuple(x)
  return tuple1
list1=range(1,7)
print(create_tuple(list1))

(1, 3, 5)

28) Кортеж с простыми числами: Напишите функцию, которая создает кортеж, содержащий только простые числа из заданного диапазона.

In [18]:
import math
def is_prime(x):
  t=True
  if x>1:
    for i in range(2,int(math.sqrt(x)) + 1):
      if x%i==0:
        t=False
  else:
    t=False
  return t
def create_tuple(list1):
  x=[]
  for i in list1:
    if is_prime(i):
      x.append(i)
  tuple1=tuple(x)
  return tuple1
list1=range(1,7)
print(create_tuple(list1))

(2, 3, 5)

29) Кортеж с палиндромами: Напишите функцию, которая создает кортеж, содержащий только строки-палиндромы из заданного списка строк.

In [20]:
def is_palindrom(s):
    return s == s[::-1]

def create_palindrom_tuple(list):
    palindromes = tuple(s for s in list if is_palindrom(s))
    return palindromes

words = ["топот", "мадам", "python", "око", "level", "word"]
print(create_palindrom_tuple(words))

('топот', 'мадам', 'око', 'level')

30) Группировка элементов: Напишите функцию, которая группирует элементы кортежа по их типам (например, int, str, float) и возвращает словарь, где ключи — это типы, а значения — списки элементов.

In [22]:
def group_by_type(input_tuple):
    type_dict = {}
    for item in input_tuple:
        item_type = type(item)
        if item_type not in type_dict:
            type_dict[item_type] = []
        type_dict[item_type].append(item)
    return type_dict

mixed_tuple = (10, "hello", 3.14, True, "world", 42, False, 2.718)
result = group_by_type(mixed_tuple)
print(result)

{<class 'int'>: [10, 42], <class 'str'>: ['hello', 'world'], <class 'float'>: [3.14, 2.718], <class 'bool'>: [True, False]}